page-registrodoc {
    body, span, button, h1, h2, h3, h4, h5, h6 , p {
	font-family: 'helvetica' !important;
	}
    //header
    .toolbar-title-md{
            padding: 0 40px 0 0px;
        }
        .rosa{
            .toolbar-background{
                background: #45b19a;
            }
        }
        .header-md::after{
            background-image: none!important;
        }
        .item-input .label{
            color: white;
        }
        
    //contain
    .fondo{
        background: url(../assets/img/registrodoc.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    }
    .item{
        background: transparent
    }
    .item-md.item-block .item-inner{
        border-bottom:0px;
    }
    .botonn{
        padding: 20px 1rem !important;
        background: transparent;
        border: 2px solid #45b19a;
        margin-top: 15px;
    }
    
    .list .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child{
            border-bottom-color: #45b19a;
            box-shadow:none;
    }
    .list .item-input.input-has-focus:last-child{
            border-bottom-color: #45b19a;
            box-shadow:none;
    }
    //footer
    .button-round{
            padding: 0px 6rem;
        }
        .transpa{
            .toolbar-background{
                background: transparent;
            }
        }
        .footer-md::before{
            background-image: none;
        }

}
