page-gps {
    #map{
        height: 50%;
        width: 100%;
    }
    .scroll {
        height: 100%
      }
      .gm-style img {
    //max-width: none;
    max-width: 35px;
    float: left;
      }
}
