page-select {
    body, span, button, h1, h2, h3, h4, h5, h6 , p {
	font-family: 'helvetica' !important;
	}
    .fondo{
            background: url(../assets/img/home.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        //contenido
        .verde{
            
            height:50%
        }
        .rosado{
            
            height:50%
        }
        ion-label{
            font-size: 24px;
            padding-left: 10px;
            color: white;
        }
        .button-round{
            padding: 20px 6rem;
        }
        .button-padding{
            padding: 20px 7rem;
        }
        .row{
            height: 80%
        }
}

